<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="new-body">
        <div class="nav-section">
          <nav class="navbar navbar-expand-lg new-nav" style="background-color: #cbcfd2;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="index.html">Gowtham SG</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav new-items">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="mens.html">Mens</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="womens.html">Womens</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="kids.html">Kids</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="offers.html">Cart</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
          </div>
        </div>
        <div class="mens-section">
          <div class="card-section">
            <div class="card" style="width: 18rem;">
              <img src="https://thefoomer.in/cdn/shop/files/jpeg-optimizer_PATP0637_3e9f84f8-1ca8-4e3c-b7c6-2282b416449a_11zon.jpg?v=1707301985&width=3700" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Allen Solly</h5>
                <p class="card-text">Allen Solly is an Indian based brand having huge popularity throughout the globe. It is run by Madura fashion which looks after a lot of great clothing.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1500</li>
              </ul>
              <div class="card-body">
                <a href="" class="card-link onclick="addToCart('Allen Solly', 1500)">Buy Now</a>
  
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://assets.ajio.com/medias/sys_master/root/20230615/Xs7z/648b116042f9e729d74492c4/-473Wx593H-466278337-white-MODEL.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Peter England</h5>
                <p class="card-text">Peter England. Peter England was established in Londonderry, Ireland, in 1889. They entered the Indian market in 1997 and were acquired by the Aditya Birla.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1200</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://uathayam.in/cdn/shop/files/LP_4865.jpg?v=1703582581" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1209</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://i.pinimg.com/736x/49/79/9e/49799e6b661045e00d8d8599f0418f8e.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1228</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://middaycdn.s.llnwi.net/Radiocity-images/images/uploads/web-stories/Dashing-pics-of-superstar-Mahesh-Babu-7_ws.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$550</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://images.pexels.com/photos/769749/pexels-photo-769749.jpeg?cs=srgb&dl=pexels-jeffreyreed-769749.jpg&fm=jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$120</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://www.southindiafashion.com/wp-content/uploads/2020/12/allu-arjun-in-blamian-black-tshirt-for-samjam-show.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$678</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://images.meesho.com/images/products/152507270/pnjtm_512.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$3990</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://i.pinimg.com/originals/72/c7/6d/72c76d8a12804e61dec9e44c7742ec91.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$2209</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/XM/CK/PD/81489317/men-s-branded-shirts.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$6999</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://www.beyoung.in/api/cache/catalog/products/new_checked_shirt_image_9_12_2022/navy_blue_cotton_solid_shirts_for_men_base_19_10_2023_700x933.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$120000</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://images.bestsellerclothing.in/data/selected/09-Aug-2023/250135204_1.jpg?width=1080&height=1355&mode=fill&fill=blur&format=auto" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1347</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div>
          </div>
    </div>

    <script>
      // Function to add item to cart
      function addToCart(itemName, price) {
        // Retrieve cart items from localStorage
        var cartItems = localStorage.getItem('cartItems');

        // If cart is empty, initialize it as an empty array
        if (!cartItems) {
          cartItems = [];
        } else {
          // Parse existing cart items from JSON
          cartItems = JSON.parse(cartItems);
        }

        // Add the new item to cart
        cartItems.push({ name: itemName, price: price });

        // Store updated cart items back to localStorage
        localStorage.setItem('cartItems', JSON.stringify(cartItems));

        // Optionally, you can redirect the user to the cart page or show a confirmation message
        alert('Item added to cart!');
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>