body{
    border: 0;
    margin: 0;
}
.new-nav{
    height: 80px;
    position: static;
    top: 0;
}
.navbar-brand{
    font-weight: bold;
}
.navbar-brand{
    padding: 100px;
}
.new-items{
    margin-left: auto;
    padding-right: 100px;
}
.header{
    height: 100vh;
    text-align: center;
    margin-top: -40px;
}
#background-video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.new-header{
    color: aliceblue;
}
.h-h1{
    color: rgb(233, 171, 13);
}
.h-big{
    color: red;
    font-size: 150px;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    align-items: center;
    text-align: center;
}
.card{
    margin-left: 80px;
    margin-top: 30px
}
.card-link{
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: whitesmoke;
    text-decoration: none;
}
.card-link:hover{
    background-color: whitesmoke;
    color: red;
    transform: scale(1.02);
}