<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="new-body">
        <div class="nav-section">
          <nav class="navbar navbar-expand-lg new-nav" style="background-color: #cbcfd2;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="index.html">Gowtham SG</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav new-items">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="mens.html">Mens</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="womens.html">Womens</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="kids.html">Kids</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="offers.html">Cart</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
          </div>
        </div>
        <div class="mens-section">
          <div class="card-section">
            <div class="card" style="width: 18rem;">
              <img src="https://assets.ajio.com/medias/sys_master/root/20230907/O2KA/64f91d0addf7791519c0b242/-473Wx593H-466542753-blue-MODEL5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Allen Solly</h5>
                <p class="card-text">Allen Solly is an Indian based brand having huge popularity throughout the globe. It is run by Madura fashion which looks after a lot of great clothing.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1200</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
  
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://www.jiomart.com/images/product/original/rvgq9rvaia/fabflee-women-multicolor-printed-rayon-a-line-dress-blue-product-images-rvgq9rvaia-0-202301091104.jpg?im=Resize=(500,630)" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Peter England</h5>
                <p class="card-text">Peter England. Peter England was established in Londonderry, Ireland, in 1889. They entered the Indian market in 1997 and were acquired by the Aditya Birla.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1209</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://m.media-amazon.com/images/I/81eIM2AAjlL._AC_UY1100_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1347</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://assets.ajio.com/medias/sys_master/root/20230602/Phgr/64793971d55b7d0c6337b573/-473Wx593H-461671366-red-MODEL.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$8904</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://img0.junaroad.com/uiproducts/19815109/zoom_0-1683395967.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1506</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://www.jiomart.com/images/product/original/rvedx2v4vf/fabflee-women-red-printed-chiffon-a-line-dress-red-product-images-rvedx2v4vf-0-202209202133.jpg?im=Resize=(500,630)" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$220</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://cottonvillage.in/cdn/shop/articles/sunny-days-ahead-the-ultimate-guide-to-summer-dresses-for-women-641000.jpg?v=1682588415" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$5683</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://www.jiomart.com/images/product/original/rv0qy4cinz/fabflee-women-red-printed-chiffon-a-line-dress-red-product-images-rv0qy4cinz-4-202209202131.jpg?im=Resize=(500,630)" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$8906</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://lh3.googleusercontent.com/1WStCPaJxEkJqak0hdd91dY0-gIOqPlhJjVLz6p7AeB09e-Iqf9QxS_Xw5YkrXIcYLpNkgHT1b77BXfcyIMZLrNrnzf0FXjCeYak1okb=s800-rw" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$1248</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://fashiondream.co.in/cdn/shop/files/007-063A9565.jpg?v=1696422258&width=533" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$890</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/dress/b/s/q/xl-5092otteal-juniper-original-imaghepujze8jura.jpeg?q=90&crop=false" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$4490</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div><div class="card" style="width: 18rem;">
              <img src="https://www.merricksart.com/wp-content/uploads/2019/04/somerset-anthropologie-dress.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Levi's</h5>
                <p class="card-text">Levis Strauss and Co. is an American based company that is more than 150 years old having gained a huge market throughout the globe. Levis is now a market</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">$999</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Buy Now</a>
              </div>
            </div>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>